{% extends '__base.html' %}

{% block 'content' %}
    .row
        .span12
            {% block  'main-col' %}
                nope
            {% endblock %}

    .row
        .span12
            {% block 'footer' %}
            {% endblock %}
{% endblock %}