{%extends '__l_base.html' %}
-block 'title'
    {{block.super}} | Sample Page

/example usage
-block 'main-col'
    .well
        %h1 Hello Django


-block 'right-col'
    .well
        %h1
            Test


-block 'footer'
    .well
        %p
            This is a base view